.banner-cocktail {
  background-size: cover;
  background-position: center;
  height: 60vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.background-color{
  background-color: white;
  box-shadow: 1px 1px 1px dimgray;
  border-radius: 3px;
  color: dimgray;
}
  .create-new{
  background-image: url('https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-0.3.5&s=8db6d01f3df317dba4119b56db998614&auto=format&fit=crop&w=2486&q=80');

  }
  .edit-details{
  background-image: url('https://images.unsplash.com/photo-1495570689269-d883b1224443?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f9557bd4cd7f586ad12fa7e5b8932b75&auto=format&fit=crop&w=3289&q=80');

  }
